@model Newtonsoft.Json.Linq.JObject

@{
    ViewData["Title"] = "Home Page";
}

<main id="app">@Html.Raw(@ViewData["html"])</main>

@section Data {
    <script type="text-javascript">window.__GLOBAL__ = @Html.Raw(Json.Serialize(Model))</script>
}
